[Unit]
Description=VirtValidate Frontend Dashboard
After=virtvalidate-backend.service

[Container]
Image=localhost/virtvalidate-frontend:latest
ContainerName=virtvalidate-frontend
Network=virtvalidate.network
PublishPort=3000:8080

[Service]
Restart=always

[Install]
WantedBy=default.target
